<div class="row">
    <div class="col-md-offset-2 col-md-8 text-center">
        <h1><%= @question.text %></h1>
        <% @answers.each do |answer| %>
            <strong><%= answer.text%></strong><br/>
            By: <%= link_to answer.user[:name], user_path(answer.user) %><br/>
        <% end %><br/>

        <%= form_for @new_answer do |f| %>
            <%= f.text_area :text, class: "form-control" %>
            <%= f.submit "Answer", class: "btn btn-success", id: "answer_button", style: "width: 300px" %>
        <% end %> <br/>
    </div>
</div>
